body.formulario, body.index{
   background-image:url(img/fondo.jpg);
   background-size: cover;
   background-repeat: no-repeat;

}

body.tabla {
   background-color:#0c3e11; 
   font-family: Helvetica;
   
}

body{
   align-content:center;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

form{
   background-color: #72533d;
   padding:20px;
   border-radius:8px;
   width:450px;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
}

label{
   display: block;
  margin: 10px 0;
}

input, select, textarea{
   width: 100%;
   padding:10px;
   margin-bottom: 10px;
   box-sizing: border-box;
   
}

.sexo-container label{
   display: flex;
}

input[type="radio"]{
   align-items:flex-start;
}



.botones-container {
   display: flex;
   border: none;
   border-radius: 4px;
   gap: 10px; 
}

input[type="submit"],
input[type="reset"],
input[type="file"] {
   padding: 5px;
   font-size: 12px;
}

@font-face {
   font-family:"Breaking Bad";
   font-style: italic;
   src: url(fuente/Breaking\ Bad.ttf) format('truetype');
}
b,h1{
   font-family: "Breaking Bad";
   font-size: 30px;
   color: white;
}

h1{
   font-size: 45px;
}

#logo{
   margin-bottom: 5vh;
}

#poster{
   width: 700px;
   height: 300px;
   border: 10px outset brown;
   border-radius: 22px;
   margin-top: 5vh;
}


table{
   table-layout: fixed;
   margin-top: 10vh;
   background-color: #051d08;
   border-collapse: separate;
   border-spacing: 8px;
   empty-cells: show;
}

.grande{
   width: 750px;
   height: 400px;
}
.pequeña{
   width: 700px;
   height: 100px;
}

td{
   width: 65px;
   height:50px;
   color: #051d08;
}

.h{
   background-image: url(img/hankschrader.png);
   background-repeat: no-repeat;
}

.Ma{
   background-color: #AB8ECE;
}
.grupo1{
   background-color: #B6DB27;
}
.grupo2{
   background-color: #D6E97A;
}
.grupo3{
   background-color: #ECF1CF;
}

.grupo4{
   background-color: #89A419;
}
.grupo5{
   background-color: #5E692F;
}

.grupo6{
   background-color: #9bc74d;
}
.grupo7{
   background-color: #BCC49F;
}

.grupo8{
   background-color: #83904E;
}
.grupo9{
   background-color:#C5C438;
}


#icono{
   width: 50px;
   height: 50px;
}

#elemento{
   font-weight: bolder;
   font-size:24px;
}

#personaje{
   font-weight:lighter;
   font-size: 8px;
}

#elemento, #personaje{
   display: block;
}

